<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com._520it.crm.domain.Permission">
        <id column="id" property="id"/>
        <result column="resource" property="resource"/>
        <result column="name" property="name"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="long">
        DELETE FROM permission
        WHERE id = #{id}
    </delete>
    <insert id="insert" parameterType="com._520it.crm.domain.Permission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permission
        (resource, name)
        VALUES
            (#{resource}, #{name})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Permission">
        UPDATE permission
        SET
            resource = #{resource},
            name     = #{name}
        WHERE id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long">
        SELECT *
        FROM permission
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM permission
    </select>
    <sql id="conditionSql">
        <where>
        </where>
    </sql>
    <select id="queryPageCount" resultType="long">
        select count(0) from permission
        <include refid="conditionSql"/>
    </select>
    <select id="queryPageDataResult" resultMap="BaseResultMap">
        select * from permission
        <include refid="conditionSql"/>
        limit #{start},#{rows}
    </select>
    <select id="selectPageForRoleFormByRoleId" resultMap="BaseResultMap">
        SELECT
            id,
            name
        FROM permission
        WHERE id IN (SELECT permission_id
                     FROM role_permission
                     WHERE role_id = #{roleId})
    </select>
    <select id="queryPermissionsByEmpId" resultType="com._520it.crm.domain.Permission">
        SELECT *
        FROM permission p
            JOIN role_permission rp ON p.id = rp.permission_id
            JOIN employee_role er ON rp.role_id = er.role_id
        WHERE er.employee_id = #{employeeId}
    </select>
</mapper>