<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.VipLevelMapper">
    <resultMap id="BaseResultMap" type="com._520it.crm.domain.VipLevel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="servediscount" property="serveDiscount"/>
        <result column="productdiscount" property="productDiscount"/>
        <result column="enable" property="enable"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM viplevel
        WHERE id = #{id}
    </delete>
    <insert id="insert" parameterType="com._520it.crm.domain.VipLevel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO viplevel (name, servediscount, productdiscount, enable)
        VALUES (#{name}, #{servediscount}, #{productdiscount}, #{enable})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.VipLevel">
        UPDATE viplevel
        SET name            = #{name},
        servediscount   = #{servediscount},
        productdiscount = #{productdiscount},
        enable          = #{enable}
        WHERE id = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        id,
        name,
        servediscount,
        productdiscount,
        enable
        FROM viplevel
        WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        id,
        name,
        servediscount,
        productdiscount,
        enable
        FROM viplevel
    </select>



</mapper>

